.Container {
	width: 200px;
	vertical-align: text-top;
	border: 2px black solid;
	border-radius: 7px;
	padding: 10px;
	margin: 10px;
}

.commentContainer{
	width: 200px;
	vertical-align: text-top;
	border: 2px black solid;
	border-radius: 7px;
	padding: 10px;
	margin: 10px;
}
.bookBox{
	width: 10000px;
	vertical-align: text-top;
	border: 2px black solid;
	border-radius: 7px;
	padding: 10px;
	margin: 10px;
}

.default_form{
	display:inline;
}

